% =============================================
% = Customizable Configuration Parameters
% =============================================

[{znbb, [ {ip, {0,0,0,0}},
	  {port, 8001},
	  {rem_name, 0}, % Must be unique for each remote node. [0-4095]
	  {session_timeout, 20} ]},

 {erodex, [ {index_dir, "./indexes"}]},

 {mnesia, [ {dir, "./mnesia"},
	    {dump_log_write_threshold, 5000} ]}
].
