html, body { height: 100%; }

#page {
    position: relative;
    min-height: 100%;
}

#body {
    position: relative;
    padding-bottom: 36px;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 26px;
    width: 100%;
    padding-top: 6px;
}
